.adoptions-template {
    img {
        padding: 10px 0;
        // max-height: 251px;
        @media(min-width: 1024px) {
            width: 432px !important;
            height: 251px !important;
            padding: 0 10px !important;
        }
        
        
    }
    .description {
        padding: 40px 0;

    }
}