@import 'about';
@import 'donate';
@import 'fosters';
@import 'forms';
@import 'volunteer';
@import 'boardmembers';
@import 'contact';
@import 'adoptions';

h1 {
    padding-top: 50px;
    margin-bottom: 40px;
    @media(min-width: 1024px) {
        padding-top: 130px;
    }
}
