footer {
    margin-top: 40px;
    @media(min-width: 1024px) {
        margin-top: 100px;
    }
    a {
        color: $black;
        text-decoration: none;
        &:hover,
        &:focus {
            color: $blue;
        }
    }
    .footer-logo {
        max-width: 175px;
        margin-bottom: 30px;
        @media(min-width: 1024px) {
            max-width: 229px;
            margin-bottom: 60px;
        }
        
    }
    .footer-menu {
        width: auto;
        list-style-type: none;
        justify-content: end;
        font-family: Inika;
        @media(min-width: 768px) {
            display: flex;
        }
        @media(min-width: 1024px) {
            width: 80%;
        }
        li {
            font-weight: bold;
            font-size: 28px;
            padding: 0 10px;
            @media(min-width: 1024px) {
                padding: 0 40px;
            }
            ul {
                list-style-type: none;
                padding: 0;
                li {
                    padding: 0;
                    font-weight: normal;
                    font-size: 18px;
                }
            }
        }
    }
    .address, 
    .contact {
        
        @media(min-width: 768px) {
            width: 50%;

        }
        p {
            font-family: Inika;
            font-size: 20px;
            a {
                color: black;
                text-decoration: none;
                &:hover,
                &:focus {
                    color: $blue;
                }
            }
        }
        
    }
    .address {
        margin-top: 40px;
        padding: 0 20px;
        @media(min-width: 768px) {
            margin-top: 0;
        }
    }
    .contact {
        padding: 0 20px;
        margin-top: 40px;
        @media(min-width: 768px) {
            padding: 0;
            display: flex;
            justify-content: end;
            margin-top: 0;
        }
    }
    .info-row {
        display: block;
        @media(min-width: 768px) {
            display: flex;
            margin-top: 40px;
        }
        
    }
    .footer-bottom {
        display: flex;
        flex-direction: column-reverse;
        @media(min-width: 768px) {
            flex-direction: row;
        }
        
        .copyright {
            width: 100%;
            margin-top: 30px;
            @media(min-width: 768px) {
                margin-top: 0;
                position: relative;
            }
            p {
            font-size: 16px;
            @media(min-width: 768px) {
                position: absolute;
                bottom: 0;
            }
            }
        }
        .footer-donate-btn {
            margin-top: 40px;
            width: 100%;
            @media(min-width: 1024px) {
                justify-content: end;
                margin-top: 0;
            }
            
            p {
                @media(min-width: 768px) {
                    float: right;
                }
                
                a.btn {
                    background-color: $red;
                    color: $white;
                    border-color: $red;
                    padding: 10px 36px;
                    border-radius: 3px;
                    &:hover,
                    &:focus {
                        background-color: white;
                        color: $black;
                    }
                }
            }
            
        }
        
    }
}