.header.container {
    .inner {
        position: relative;
        .navbar {
            display: flex;
        }
    }
}
.bm-burger-button {
    width: 50px;
    height: 50px;
    position: absolute;
    right: -34px;
    top: 28px;
    
    @media(min-width: 992px) {
        display: none;
    }
}
.nav-menu {
    display: flex;
    justify-content: end;
    .navbar-nav {
        list-style-type: none;
        display: flex;
        // flex-direction: row-reverse;
        .nav-link {
            padding: 0 7px;
            color: $dark-blue;
            font-size: 20px;
            text-decoration: none;
            &:hover, 
            &:focus {
                color: $blue;
            }
        }
    }
}

.bm-overlay {
    opacity: 0 !important;
    background-color: $white !important;
}
.bm-menu-wrap {
    background-color: white;
    right: 58px;
    width: 100% !important;
    top: 0;
    padding: 20px;
    .navbar-brand {
        @media(min-width: 1024px) {
            margin-left: 15px;
        }
    }
    .bm-item {
        margin-left: 0;
        width: 181px; 
        @media(min-width: 768px) {
            // width: 25%; 
            margin-left: 28px;
        }

    }
    .language-switcher {
        @media(min-width: 1024px) {
            margin-left: 30px;
        }
    }
    .mmenu--list {
        list-style: none;
        padding-top: 20px;
        padding-left: 0;
        font-size: 20px;
        li {
            padding-top: 7px;
        }
    } 
    a {
        color: $black !important;
    }
}
.bm-cross-button {
    width: 38px !important;
    height: 38px !important;
    right: 24px !important;
    top: 20px !important;
}