.stats {
    background-color: $light-pink;
    
    p {
        font-weight: normal !important;
        text-align: center;
        font-size: 60px;
    }
    .bold {
        font-weight: bold;
    }
}